@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #ece9e6, #ffffff);
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h4 {
  text-align: center;
  margin: 0 0 20px;
}

.container {
  background-color: #fff;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form {
  padding: 30px 40px;
}

.form-control {
  border: none;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control.success input {
  border-color: var(--success-color)
}

.form-control.error input {
  border-color: var(--error-color)
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

label {
  color: #777;
  display: block;
  margin-bottom: 5px;
  padding: 0px;
}

input {
  border: 2px solid #f0f0f0;
  padding: 10px;
  font-size: 14px;
  display: block;
  width: 100%;
}

input:focus {
  outline: none;
  border-color: #777;
}
input::placeholder {
  opacity: 0.5;
}

.btn {
  margin-top: 20px;
  width: 100%;
  display: block;
  font-size: 16px;
  padding: 10px;

}

.btn:focus {
  outline: none;
  box-shadow: none;
}